<%- include('../homeIncludes/header.ejs') %>
<script src="/Public/JS/dashboard.js"></script>
    <!-- Dashboard Navbar -->
    <%- include('./dashboardIncludes/dashboardNav.ejs') %>

        <main id="dashboardMain">
            <!-- Dashboard Sidebar -->
            <%- include('./dashboardIncludes/sidebar.ejs') %>

                <section id="dashboardContent" style="height: fit-content;">
                    <div class="dashboardContainer">
                        <!-- Dashboard Content Start  ĐÉO --> 

                        <h1 class="pageTitle"><span><a href="/">Home /</a> </span>Dashboard</h1>

                        <article id="savedTrucks" class="dashboardContentContainer" >
                            <h2 class="flexRow spaceBetween alignItemCenter">Welcome, <%=user.firstName%>, to Taste On Wheels!
                            </h2>
                        </article>

                        <%if(truck.length===0){%>
                            <section class="dashboardContentContainer">
                               
                                <h1 class="heading" style="font-size: 28px;">You have not created any truck yet</h1>
                            </section>
                            <%}else{%>
                              
                            <%}%>

                                <% truck.forEach(foodTruck=> { %>
                                    <!-- Your Trucks -->
                                    <article id="savedTrucks" class="dashboardContentContainer">
                                        <article id="savedTrucks" class="dashboardContentContainer"
                                            style="box-shadow: none;">
                                            <h2 class="flexRow spaceBetween alignItemCenter">Your Food Trucks <a
                                                    href="/myTrucks" id="viewAllBtn">View All <i class="fa-solid fa-truck-front"></i></a>
                                            </h2>
                                        </article>
                                        <section id="myTruck">
                                            <div class="myTruckImage">
                                                <img style="width: 100%; " src="<%= foodTruck.images[0].mainImage%>"
                                                    alt="">
                                            </div>
                                            <div class="myTruckContent" style="padding: 20px 35px;">
                                                <div style="margin-top: 10px;"
                                                    class="flexRow spaceBetween alignItemCenter">
                                                    <h3 class="heading">
                                                        <%= foodTruck.name%>
                                                    </h3>
                                                    <div class="flexRow">
                                                        <p style="display: inline-block;" id="" class="reviewsBtn"
                                                            href="#reviewScroll">
                                                            <%= foodTruck.testimonials.length %> Reviews
                                                        </p> &nbsp;

                                                        <p class="rating flexRow alignItemCenter"> <span>
                                                                <%= foodTruck.rating%>
                                                            </span> &nbsp; <i class="fa-solid fa-star"></i></p>
                                                    </div>

                                                </div>
                                                <div class="flexRow alignItemCenter truckGridLocation">
                                                    <i class="fa-solid fa-location-dot"></i>
                                                    <p>
                                                        <%= foodTruck.address%>
                                                    </p>
                                                </div>


                                                <p>
                                                    <%= foodTruck.description%>
                                                </p>


                                                <p style="font-weight: 500; margin-left: 2px;">Speciality</p>
                                                <div class="gridTags" style="font-size: 16px; text-align: left;">
                                                    <p style="font-size: 12px; font-weight: 400; padding:10px 9px;">
                                                        <%=foodTruck.threeSpecialDishes[0].dish%>
                                                    </p>
                                                    <p style="font-size: 12px; font-weight: 400; padding:10px 9px">
                                                        <%=foodTruck.threeSpecialDishes[1].dish%>
                                                    </p>
                                                    <p style="font-size: 12px; font-weight: 400; padding:10px 9px">
                                                        <%=foodTruck.threeSpecialDishes[2].dish%>
                                                    </p>
                                                </div>
                                                <p>Cusines Offered: <%= foodTruck.cusinesOffered %>
                                                </p>
                                                <p>Famous For: <%= foodTruck.famousFor %>
                                                </p>

                                                <% const currentDate=new Date(); const options={
                                                    timeZone: 'America/Toronto' }; let counter; const
                                                    currentDay=currentDate.toLocaleDateString('en-US', { weekday: 'long'
                                                    , ...options }); if(currentDay==='Monday' ){ counter=0; } else
                                                    if(currentDay==='Tuesday' ){ counter=1; } else
                                                    if(currentDay==='Wednesday' ){ counter=2; } else if
                                                    (currentDay==='Thursday' ) { counter=3; } else if
                                                    (currentDay==='Friday' ) { counter=4; } else if
                                                    (currentDay==='Saturday' ) { counter=5; } else if
                                                    (currentDay==='Sunday' ) { counter=6; } %>


                                                    <% if (foodTruck.openingHours[counter].open==='true' ){ %>
                                                        <div class="openStatus">
                                                            <p style="color: rgb(106, 176, 1);">Open Today</p>
                                                            <p>
                                                                <%= currentDay%>
                                                                    <%= new Date('1970-01-01T' +
                                                                        foodTruck.openingHours[counter].openingTime).toLocaleString('en-US',
                                                                        { hour: 'numeric' , minute: '2-digit' , hour12:
                                                                        true }) %> - <%= new Date('1970-01-01T' +
                                                                            foodTruck.openingHours[counter].closingTime).toLocaleString('en-US',
                                                                            { hour: 'numeric' , minute: '2-digit' ,
                                                                            hour12: true }) %>

                                                            </p>
                                                        </div>

                                                        <% }else{ %>
                                                            <div class="openStatus">
                                                                <p style="color: red;">Closed Today</p>
                                                            </div>
                                                            <% } %>
                                                                <div class="flexRow spaceBetween">

                                                                    <p style="color: rgb(223, 178, 88);"><i
                                                                            class="fa-solid fa-envelope"></i>
                                                                        <%= foodTruck.email%>
                                                                    </p>
                                                                    <p style="color: rgb(223, 178, 88);"><i
                                                                            class="fa-solid fa-phone"></i>
                                                                        <%= foodTruck.contactNumbers%>
                                                                    </p>
                                                                </div>
                                                                <br>
                                                                <div style="padding-top: 15px;"
                                                                    class="flexRow spaceBetween alignItemCenter">
                                                                    <a href="/myTrucks" id="viewAllBtn"><i
                                                                            class="fa-solid fa-eye"></i>
                                                                        View </a>
                                                                    <div class="flexRow" style="gap: 3px;">
                                                                        <a href="/editFoodTruck/<%= foodTruck._id%>"
                                                                            id="logoutBtn"><i
                                                                                class="fa-solid fa-pencil"></i> Edit
                                                                        </a> &nbsp;
                                                                        <form action="/delete" method="post">
                                                                            <input type="text" name="truckId"
                                                                                style="display: none;"
                                                                                value="<%= foodTruck._id%>" readonly>
                                                                            <button type="submit" id="viewAllBtn"><i
                                                                                    class="fa-solid fa-trash"></i>
                                                                                Delete</button>
                                                                        </form>

                                                                    </div>
                                                                </div>
                                            </div>
                                        </section>
                                    </article>
                                    <% }) %>
                    </div>


                </section>

        </main>

        <script src="/js/dashboardSidebar.js"></script>
</body>

        <!-- Page Ends  -->
        <%- include('../homeIncludes/pageEnd.ejs') %>