<!-- Page Start HTML -->
<%- include('./homeIncludes/header.ejs') %>
    <!-- Header -->
    <header>
        <!-- Navbar -->
        <%- include('./homeIncludes/navbar.ejs') %>



            <br>
            <!-- Search Bar -->
            <%- include('./homeIncludes/searchBar.ejs') %>
    </header>
    <section id="aboutUs" class="container">
        <h1 class="heading">
            Taste On Wheels
        </h1>
        <p style="font-size: 18px; margin-bottom: 10px;">Welcome to Taste on Wheels, your ultimate destination for
            discovering and experiencing a diverse array of
            culinary delights on wheels! We are dedicated to connecting food truck enthusiasts with their favorite
            mobile eateries while offering food truck owners a platform to showcase their unique offerings.
        </p>

        <h1 class="heading">
            Our Features
        </h1>
        <p style="font-size: 18px; margin-bottom: 10px;">
            <span style="color: var(--orange); font-weight: 500;"> 1. Food Truck Listings: </span> Food truck owners can
            effortlessly post their trucks on our website, providing
            essential details such as their operating hours, specialty cuisines, working days, and enticing discounts
            like BOGO or custom offers.
            <br> <span style="margin-bottom: 15px;"></span>
            <span style="color: var(--orange); font-weight: 500;">2. Owner Dashboard:</span> With their dedicated
            dashboard, food truck owners have complete control over managing their
            listings. From adding new trucks to updating information, our user-friendly interface makes it a breeze.
            Interactive Ratings and Feedback: Customers can explore food truck listings, leave ratings, and provide
            valuable feedback to help others make informed decisions about their dining experiences.
            <br> <span style="margin-bottom: 15px;"></span>
            <span style="color: var(--orange); font-weight: 500;">3. Get Directions:</span> Our integrated "Get
            Directions" feature simplifies the journey to deliciousness. By
            leveraging Google Maps, users can effortlessly navigate from their current location to the food truck of
            their choice. <br> <span style="margin-bottom: 15px;"></span>
            <span style="color: var(--orange); font-weight: 500;">4. Tailored Recommendations:</span> Our homepage
            showcases food trucks with the best offers, including BOGO deals and
            top-rated establishments, ensuring that users never miss out on a delectable experience. <br> <span
                style="margin-bottom: 15px;"></span>
            <span style="color: var(--orange); font-weight: 500;">5. Efficient Search:</span> With our powerful search
            bar, finding the perfect food truck is a breeze. Whether you're
            craving a specific cuisine, dish, or location, our comprehensive search functionality delivers tailored
            results with ease.
        </p>
        <h1 class="heading">Our Team</h1>
        <br>
        <section id="gridTeam">
            <article class="card" style="border-radius: 20px; margin: 3px;">
                <div style="height: 250px; width: 100%; ">
                    <img style="width: 100%; height: 100%; object-fit: cover;" src="./img/member1.jpeg" alt="">
                </div>
                <div style="text-align: center;">
                    <p
                        style="font-size: 18px; margin: 10px; margin-bottom: 1px; color: var(--orange); font-weight: 400;">
                        Harsimar Kaur Bhatia</p>
                    <p style="font-size: 14px; color: #333;">Frontend Developer/ UI Designer</p>
                </div>
            </article>
            <!-- Member 2 -->
            <article class="card" style="border-radius: 20px; margin: 3px;">
                <div style="height: 250px; width: 100%; ">
                    <img style="width: 100%; height: 100%; object-fit: cover;" src="./img/member2.jpeg" alt="">
                </div>
                <div style="text-align: center;">
                    <p
                        style="font-size: 18px; margin: 10px; margin-bottom: 1px; color: var(--orange); font-weight: 400;">
                        Neel Jose Binu</p>
                    <p style="font-size: 14px; color: #333;">Project Manager</p>
                </div>
            </article>

            <!-- Member 3 -->
            <article class="card" style="border-radius: 20px; margin: 3px;">
                <div style="height: 250px; width: 100%; ">
                    <img style="width: 100%; height: 100%; object-fit: cover;" src="./img/member3.jpeg" alt="">
                </div>
                <div style="text-align: center;">
                    <p
                        style="font-size: 18px; margin: 10px; margin-bottom: 1px; color: var(--orange); font-weight: 400;">
                        Le Duc Tam Nyugen</p>
                    <p style="font-size: 14px; color: #333;">Backend Developer
                    </p>
                </div>
            </article>

        </section>
        <br>
        <h1 class="heading">
            Technologies We Used
        </h1>
        <p style="font-size: 18px; margin-bottom: 10px;">
            <span style="color: var(--orange); font-weight: 500;">1. Database:</span> MongoDB, leveraged through
            Mongoose,
            forms the backbone of our data storage system. <br>
            <span style="margin-bottom: 15px;"></span>
            <span style="color: var(--orange); font-weight: 500;">2. Backend Development:</span> We utilize Node.js and
            Express.js to power our server-side logic, ensuring fast and reliable performance. <br> <span
                style="margin-bottom: 15px;"></span>
            <span style="color: var(--orange); font-weight: 500;">3. Frontend Design:</span> Our user interface is
            crafted
            with HTML, CSS, and JavaScript, delivering a visually stunning and highly responsive experience across all
            devices. EJS Template engine used. <br> <span style="margin-bottom: 15px;"></span>
            <span style="color: var(--orange); font-weight: 500;">4. Additional Packages:</span> We harness the power of
            various npm packages, including Express, Path, Body Parser, Nodemon, EJS, express-session,
            connect-mongodb-session, cookie-parser, connect-flash, express-validator, and Multer, to enhance
            functionality and security.
        </p>
        <h1 class="heading">
            Join Our Culinary Journey
        </h1>
        <p style="font-size: 18px; margin-bottom: 10px;">
            Whether you're a food truck enthusiast eager to explore new tastes or a passionate owner looking to reach a
            wider audience, Taste on Wheels welcomes you to join our culinary journey. Discover, indulge, and savor the
            flavors of the mobile food scene like never before!
        </p>


    </section>
    <br>

    <!-- Footer -->
    <%- include('./homeIncludes/footer.ejs') %>

        <!-- Page Ends  -->
        <%- include('./homeIncludes/pageEnd.ejs') %>