<!-- Page Start HTML -->
<link rel="stylesheet" href="/CSS/main.css" />
<noscript><link rel="stylesheet" href="/CSS/noscript.css" /></noscript>
<%- include('./homeIncludes/header.ejs') %>
    <!-- Header -->
    <header>
        <!-- Navbar -->
        <%- include('./homeIncludes/navbar.ejs') %>


            <!-- Header Container -->
            <div id="headerContainer">

                <div>
                    <div class="logoHeader"><img src="/img/logo.png" alt=""></div>
                </div>
                <div>
                    <h1>Loyal Companions: Discover Canada's Finest Dog Breeders</h1>
                    <p>Begin Your Journey to Find the Perfect Furry Friend. Trust, Care, Quality  Where Every Puppy Begins Their Story!</p>
                </div>
            </div>
    </header>
    <!-- Deals of the day -->
    <%- include('./homeIncludes/dealsOfTheDay.ejs') %>



        <!-- <div>
            <section class="container">

                <h1 style="margin-bottom: 20px;" class="heading">Find Food Truck's by Cusines</h1>
                <form style=" height: 190px; margin-bottom: 10px;    background: linear-gradient(rgba(255, 255, 255, 0)10%, #040303cb), url(https://images.pexels.com/photos/2323391/pexels-photo-2323391.jpeg?auto=compress&cs=tinysrgb&w=600) no-repeat center center/cover;
            " id="cusines" action="/search/Japanese">
                    <input class="cusinesInput" type="text" value="Japanese" readonly>
                    <button type="submit">.</button>
                </form>
                <article id="locationsContainer">
                    <form id="cusines" action="/search/Italian" style="    background: linear-gradient(rgba(255, 255, 255, 0)60%, #040303cb), url(https://images.pexels.com/photos/1438672/pexels-photo-1438672.jpeg?auto=compress&cs=tinysrgb&w=600) no-repeat center center/cover;
                        ">
                        <input class="cusinesInput" type="text" value="Italian" readonly>
                        <button type="submit">.</button>
                    </form>
                    <form style="    background: linear-gradient(rgba(255, 255, 255, 0)60%, #040303cb), url(https://images.pexels.com/photos/8448331/pexels-photo-8448331.jpeg?auto=compress&cs=tinysrgb&w=600) no-repeat center center/cover;
                        " id="cusines" action="/search/Mexican">
                        <input class="cusinesInput" type="text" value="Mexican" readonly>
                        <button type="submit">.</button>
                    </form>
                    <form style="    background: linear-gradient(rgba(255, 255, 255, 0)60%, #040303cb), url(https://images.pexels.com/photos/2092906/pexels-photo-2092906.jpeg?auto=compress&cs=tinysrgb&w=600) no-repeat center center/cover;
                        " id="cusines" action="/search/Chinese">
                        <input class="cusinesInput" type="text" value="Chinese" readonly>
                        <button type="submit">.</button>
                    </form>
                    <form style="    background: linear-gradient(rgba(255, 255, 255, 0)60%, #040303cb), url(https://images.pexels.com/photos/7625056/pexels-photo-7625056.jpeg?auto=compress&cs=tinysrgb&w=600) no-repeat center center/cover;
                        " id="cusines" action="/search/Indian">
                        <input class="cusinesInput" type="text" value="Indian" readonly>
                        <button type="submit">.</button>
                    </form>
                    <form style="    background: linear-gradient(rgba(255, 255, 255, 0)60%, #040303cb), url(https://images.pexels.com/photos/1234535/pexels-photo-1234535.jpeg?auto=compress&cs=tinysrgb&w=600) no-repeat center center/cover;
                        " id="cusines" action="/search/Thai">
                        <input class="cusinesInput" type="text" value="Thai" readonly>
                        <button type="submit">.</button>
                    </form>
                </article>

            </section>
        </div> -->
        <div>
            <section class="container">

                <h1 style="margin-bottom: 25px;" class="heading">Find your pet's breed!</h1>

                <article id="locationsContainer">
                    <% var cities=["Labrador Retriever", "German Sheperd" , "Golden Retriever" , "French Bulldog" , "English Bulldog" ,
                     "Poddle" , "Beagle"
                        , "Rottweiler" , "Dachshund" , "Siberian Husky" , "Boxer" , "Doberman Pinscher" , "Australian Sheperd" , "Welsh Corgi"
                        ,"Great Dane" , "Shih Tzu" , "Border Collie" , "Chihuahua" , , "Pug" , "Mountain Dog" ]; %>
                        <% cities.forEach(function(city) { %>
                            <form id="locations" action="/search/<%= city %>">
                                <input class="locationsInput" type="text" value="<%= city %>" readonly>
                                <button type="submit">.</button>
                            </form>
                            <% }); %>
                </article>

            </section>
        </div>
        <!-- Top Rated Food Trucks -->
        <%- include('./homeIncludes/topRatedFoodTrucks.ejs') %>
        <script src="/JS/jquery.min.js"></script>
		<script src="/JS/jquery.scrollex.min.js"></script>
		<script src="/JS/browser.min.js"></script>
		<script src="/JS/breakpoints.min.js"></script>
		<script src="/JS/util.js"></script>
		<script src="/JS/main.js"></script>


            <!-- Footer -->
            <%- include('./homeIncludes/footer.ejs') %>

                <!-- Page Ends  -->
                <%- include('./homeIncludes/pageEnd.ejs') %>